body {
    font-family: "Fira Sans", sans-serif;
    color: #444444;
    background-color: #f0f0f0;
    margin: 0;
}

.header {
    padding: 0.5em;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 0.5em #999999;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .title {
    font-family: "Zilla Slab", serif;
    font-size: 32px;
    padding: 0 0 0 0.25em;
    margin: 0;
}

.header .subtitle {
    margin: 0;
    padding-right: 0.5em;
}

.page-content {
    padding: 1.0em;
    margin: 1.0em;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 0.5em #999999;
}

blockquote p {
    background-color: #f6f6f6;
    box-shadow: 0 0 0.25em #999999;
    padding: 0.5em;
}

.navbar {
    background-color: #623d94;
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-center{
    flex-grow: 1;
}

.navbar-brand {
    font-size: 18px;
    font-weight: bold;
    color: #f0f0f0;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #999999;
}

.navbar-item {
    font-size: 16px;
    color: #f0f0f0;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}

.navbar-item:hover {
    color: #999999;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    padding: 1.0em;
    margin: 0 1.0em 3.0em 1.0em;
    background-color: #f6f6f6;
    box-shadow: 0px 0px 0.25em #999999;
}

.breadcrumb li {
    text-decoration: none;
}

.breadcrumb li + li::before {
    color: #444444;
    content: "\0002f";
}

.breadcrumb li a {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.container {
    max-width: 75em;
    padding: 1em;
    margin: 0 auto 2.0em auto;
}

.list {
    display: flex;
    flex-direction: column;
}

.list-item {
    text-decoration: none;
    color: #444444;
    display: flex;
    flex-direction: row;
    padding: 1.0em;
    margin: 1.0em;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 0.5em #999999;
}

.list-item:hover {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0px 0px 1.0em #666666;
}

.list-item-image {
    min-height: 64px;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item-image img {
    width: 128px;
}

.list-item-title {
    font-weight: bold;
}

.list-item-center {
    flex-grow: 1;
}

.page-content h1 {
    font-family: "Zilla Slab", sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-decoration: underline;
}

.page-content h2 {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.images img {
    height: 256px;
}

p > img {
    width: 100%;
    height: auto;
}

.images video {
    height: 256px;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.images a {
    padding: 1.0em;
    margin: 1.0em;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 0.5em #999999;
}

.images video {
    padding: 1.0em;
    margin: 1.0em;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 0.5em #999999;
}

code {
    background-color: #f0f0f0 !important;
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
}

pre {
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    padding: 1.0em;
    margin: 1.0em;
    background-color: #f0f0f0 !important;
    box-shadow: 0px 0px 0.5em #999999;
}

.footer {
    max-width: 75em;
    padding: 1em;
    margin: auto;
    border-top: 1px solid #bbbbbb;
    color: #999999;
    text-align: right;
}
