{% extends "base.html" %}

{% block content %}
<nav class="breadcrumb" aria-label="breadcrumb">
    <ul>
        {% for ancestor_path in section.ancestors %}
        {% set ancestor = get_section(path=ancestor_path) %}
        <li><a href={{ ancestor.permalink }}>{{ ancestor.title }}</a></li>
        {% endfor %}
        <li><a href={{ section.permalink }}>{{ section.title }}</a></li>
    </ul>
</nav>

<h1 class="title">
    {{ section.title }}
</h1>

<div class="list">
    {% for subsection_path in section.subsections %}
    {% set subsection = get_section(path=subsection_path) %}
    <a class="list-item" href="{{ subsection.permalink }}">
        {% if subsection.extra.image %}
        <div class="list-item-image">
            <img src="{{ subsection.extra.image }}" alt=""/>
        </div>
        {% endif %}
        <span class="list-item-title">
                {{ subsection.title }}
            </span>
        <span class="list-item-center"></span>
        <span>
                {{ subsection.pages | length }} pages
            </span>
    </a>
    {% endfor %}
    {% for page in section.pages %}
    <a class="list-item" href="{{ page.permalink }}">
        {% if page.extra.image %}
        <div class="list-item-image">
            <img src="{{ page.extra.image }}" alt=""/>
        </div>
        {% endif %}
        <span class="list-item-title">
                {{ page.title }}
            </span>
        <span class="list-item-center"></span>
        <span class="list-item-date">
                {{ page.date }}
            </span>
    </a>
    {% endfor %}

    <div class="page-content">
        {{ section.content | safe }}
    </div>
</div>
{% endblock content %}
